.box {
  border: 1px solid #333333;
  width: 350px;
  height: 100px;
  overflow: hidden;
}

.box {
  border: 1px solid #333333;
  width: 350px;
  height: 100px;
  overflow: scroll;
}

.box {
  border: 1px solid #333333;
  width: 350px;
  height: 100px;
  overflow-y: scroll;
}

.word {
  border: 5px solid #333333;
  width: 100px;
  font-size: 250%;
  overflow-x: scroll;
}

.box {
  border: 1px solid #333333;
  width: 350px;
  height: 100px;
  overflow: auto;
}
