h1 {
  writing-mode: vertical-rl;
}

h2 {
  writing-mode: vertical-rl;
}

h3 {
  writing-mode: horizontal-tb;
}

.box {
  width: 150px;
}

.horizontal {
  writing-mode: horizontal-tb;
}

.vertical {
  writing-mode: vertical-rl;
}

.box {
  inline-size: 150px;
}

.horizontal {
  writing-mode: horizontal-tb;
}

.vertical {
  writing-mode: vertical-rl;
}
