.parent {
	background: white;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
}

.parent[data-isOpen="true"] {
	width: 400px;
	height: 400px;
	border-radius: 100;
}

.child {
	width: 40px;
	height: 40px;
	background: #f107a3;
	border-radius: 50%;
}
